#about-section {
    background: var(--white);
    padding-top: 3rem;
    padding-bottom: 8rem;
    color: var(--black);
  }
  #about-section > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  #about-section > .container > .about-img {
    width: 500px;
    height: 400px;
    /* border: 1px solid var(--white); */
  }
  #about-section > .container > .about-img > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  #about-section > .container > .about-text {
    width: 400px;
    height: 350px;
    border: 1px solid var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;
  }
  #about-section > .container > .about-text > p {
    color: var(--light-black);
    font-size: 1rem;
  }
  
  #about-text > a {
    color: var(--white);
    background-color: var(--black);
    border: 2px solid red;
    font-size: 3rem;
  }
  
